/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --image-dark: url(../images/cover-image-light.png);
  --accent-color: #fff1f7;
  --subtitle-color: #353430;
  --title-bg-color: #ff8dcb;
  --title-color: #353430;
  --text-color: #353430;
  --color-hover: #32312d66;
  --main-title-color: #ffc2e6;
  --decorated-element-visible: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --image-dark: url(../images/cover-image-light.png);
    --accent-color: #fff1f7;
    --subtitle-color: #353430;
    --title-bg-color: #ff8dcb;
    --title-color: #353430;
    --text-color: #353430;
    --color-hover: #32312d66;
    --main-title-color: #ffc2e6;
    --decorated-element-visible: none;
  }
}
