.page {
  inline-size: 100%;
  background-image: var(--image-dark);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.focus-link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px var(--title-bg-color);
}

.focus-link:hover {
  border-bottom: 1.5px solid var(--text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.focus-link:focus-visible {
  border: 1px solid var(--text-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--title-color);
  border-left: 1px solid var(--title-color);
}

.record {
  display: var(--decorated-element-visible);
  position: absolute;
  color: var(--title-color);
  right: 38px;
  top: 11px;
}

.record::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 42px;
  width: 9px;
  height: 9px;
  background-color: var(--title-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--title-color);
}

.header__theme-menu {
  margin-block-start: 71px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--title-color);
  text-transform: lowercase;
  border: 1px solid transparent;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-color);
  pointer-events: none;
}

.main__title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px var(--title-bg-color);
  line-height: 83%;
}

.header__title {
  margin-block-start: 65px;
}

.header__subtitle {
  margin-block-start: 55px;
  margin-block-end: 89px;
  background-color: var(--title-bg-color);
  color: var(--subtitle-color);
  font-weight: var(--font-weight);
  inline-size: 100%;
  align-self: flex-start;
}

.main {
  margin-block-start: 40px;
  color: var(--text-color);
  padding: 0 10px;
}

.focus-text__section {
  margin-block-end: 50px;
}

.focus-text__title {
  color: var(--title-color);
  font-size: var(--text-size);
}

.focus-text__container-title {
  background-color: var(--title-bg-color);
  color: var(--subtitle-color);
  font-size: var(--main-text-size);
  margin-block-end: 20px;
}

.margin__title {
  margin-block-end: 20px;
}

.focus-text__subtitle {
  background-color: var(--title-bg-color);
  color: var(--subtitle-color);
  font-size: var(--main-text-size);
  margin-block-end: 10px;
}

.focus-text__container:not(:last-child) {
  margin-block-end: 20px;
}

.subtitle-light {
  font-weight: 400;
}

.galery__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.galery__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-block-start: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100vh;
}

.footer__title {
  text-shadow: 2px 2px var(--title-bg-color);
}

@media (width >= 768px) {
  .record {
    right: 48px;
    top: 21px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header {
    padding: 0;
    padding-right: 10px;
  }

  .header__subtitle {
    inline-size: 364px;
    justify-self: flex-end;
    margin-block-start: 162px;
    margin-block-end: 202px;
    margin-right: 10px;
  }

  .header__theme-menu {
    margin-block-start: 188px;
    margin-block-end: 173px;
    padding-right: 9px;
  }

  .header__title {
    margin-block-start: 0;
  }

  .main {
    margin-block-start: 60px;
    padding: 0 20px;
  }

  .focus-text__title {
    max-width: 236px;
  }

  .focus-text__section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .focus-text__section {
    margin-block-end: 80px;
  }

  .galery__content {
    margin-block-start: 22px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .galery__img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .galery__img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .galery__img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .galery__img:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / 3;
  }

  .galery__img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding-right: 0;
    padding: 0 10px;
  }

  .header__title {
    margin-block-start: 90px;
    margin-inline-start: -10px;
  }

  .header__subtitle {
    margin-block-start: 103px;
    margin-block-end: 126px;
    inline-size: 491px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    justify-self: center;
  }

  .focus-text__section-grid {
    gap: 10px;
  }

  .focus-text__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .focus-text__container-flex {
    flex-basis: calc(33.33% - 14px);
  }

  .focus-text__title {
    min-width: 315px;
  }

  .focus-text__subtitle-light {
    margin-block-start: 19px;
  }

  .focus-text__grid-item {
    justify-self: end;
  }

  .footer {
    margin-block-start: 62px;
  }
}
