:root {
  --image-dark: url(../images/cover-image-dark.png);
  --accent-color: #000028;
  --subtitle-color: #000028;
  --title-bg-color: #ff0070;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --color-hover: #ff007066;
  --main-title-color: #db00ff;
  --decorated-element-visible: block;
  --font-fam: "IBM Plex mono";
  --text-size: 1.125rem;
  --font-weight: 700;
}
